# 服务监听
HOST=0.0.0.0
PORT=8000
ALLOWED_ORIGINS=*

# LLM配置
LLM_PROVIDER_MODEL=mimo-v2.5-pro
LLM_API_KEY=default
LLM_BASE_URL=https://api.xiaomimimo.com/v1
LLM_TIMEOUT=15

# TTS配置：none/openai
TTS_PROVIDER=none

# TTS配置
TTS_PROVIDER_MODEL=mimo-v2.5-tts
TTS_PROVIDER_VOICE=mimo_default
TTS_PROVIDER_BASE_URL=https://api.xiaomimimo.com/v1
TTS_TIMEOUT=15

# 腾讯云COS配置
COS_SECRET_ID=
COS_SECRET_KEY=
COS_BUCKET_NAME=
COS_REGION=ap-guangzhou
